@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Victor+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --verde: #39A900;
    --blanco: #F0F0F0;
    --negro: #000000;
    ;
}

body {
    margin: auto;
    width: 100%;

}


/* Header */
header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    text-align: center;

}


a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: var(--blanco);
    padding: 10px;
    border-radius: 10px;
}

header a:hover {
    color: var(--verde);

}


.selected {
    color: var(--verde);
    transition: 3s;
}

.icono_sistema img {
    width: 40px;
    height: 40px;
    align-items: center;
}

/* Seccion de contenedor todo */

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(/sistema/Imgs/banner3.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;


}

/* Contenido lateral */
.cont_lateral {
    width: 40%;
    margin-top: 50px;
}


/* Contenedor central */
.contenedor .cont_central {
    width: 45%;
    margin-top: 50px;

}


/* Contenido Lateral derecho */

aside {
    width: 15%;
    margin: auto;
    margin-bottom: 500px;

}

aside ul {
    list-style: none;
    padding: 0;
    font-size: 23px;

}


aside li a {
    display: block;
    padding: 3px 0px 0px 10px;
    color: var(--negro);
    text-decoration: none;
    text-align: justify;
}

aside a:hover {
    color: var(--verde);
}





/* Titulos */

.titulo2 {
    font-size: 40px;
    color: var(--negro);
    margin: auto;
    padding-left: 10px;
    text-align: center;
    -webkit-text-stroke: 1px var(--blanco);
}

.titulo3 {
    font-size: 35px;
    color: var(--negro);
    margin: 0 0 30px 0;

    text-align: center;
    -webkit-text-stroke: 1px var(--blanco);


}

.titulo4 {
    font-size: 35px;
    color: var(--negro);
    margin: 0 0 30px 0;
    padding-left: 22px;
    text-align: start;
    -webkit-text-stroke: 1px var(--blanco);

}



.parrafo {

    text-align: justify;
    color: var(--negro);
    font-size: 20px;
    margin: 15px 15PX 15px 15PX;
}

@media (max-width: 876px) {
    .header {
        position: static;
        /* Cambiar la posición a estática para que ocupen todo el ancho */
        transform: none;
        /* Reiniciar la transformación */
        left: 0;
        /* Alinear al borde izquierdo */
        width: 100%;
        /* Hacer que ocupen todo el ancho */
    }
}