@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*permite incluir el relleno y el borde en el ancho y alto total de un elemento*/
    font-family: monospace;

}

html {
    /* configuracion de desplazamiento con CSSOM */
    scroll-behavior: smooth;
    /* La scroll-behavior es la propiedad que especifica: si animar suavemente la posición de desplazamiento, en lugar de un salto directo, cuando el usuario hace clic en un enlace dentro de un cuadro desplazable.
    aprendiz puede consultar en https://www.w3schools.com/cssref/pr_scroll-behavior.php*/
}

body {
    display: flex;
    overflow: hidden;
}

.bloque {
    width: 100vw;
    padding-top: 50PX;
    flex-shrink: 0;
    height: 100vh;
}

/*---------------
MENU DE NAVEGACION
------------------
*/
header {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    text-align: center;
}

header nav a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

header span {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 2px solid #ecedf1;
    border-radius: 50%;
    padding: 3px;
}

header a:hover {
    color: #39A900;

}

.selected {
    color: #39A900;
    transition: 3s;
}

.icono_sistema img {
    width: 40px;
    height: 40px;
    align-items: center;
}

/*---------------
CONGIGURACION PAGINA INICIO
------------------
*/

#intro {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/sistema/Hotel_Perseo/imgs/index_hotel/salto_teque2.jpg);
}

#intro .contenedor h2 {
    font-size: 4rem;
    text-align: center;
    color: #e7e7dd;
    text-shadow: 3px 3px 10px #494646;
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
}



@keyframes aparecer {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

/*---------------
CONGIGURACION FORMULARIO
------------------
*/

/*este configuracion exclusiva para el formulario de la pagina de inicio*/
#intro .formulario {

    background-color: #e4dada;
    width: 40%;
    height: 250px;
    padding-left: 40px;
    padding-right: 40px;
    color: #211f1f;
    margin-left: 700px;
    margin-bottom: 80px;
}

/*este configuracion es para los elementos del formulario que usamos en las paginas del sitio*/
.formulario h3 {
    color: #2d2567;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.formulario .info {
    margin-bottom: 20px;
}

.info label {
    display: block;
    color: #2d2567;
    font-weight: bold;
}

.info input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4343;
    padding: 5px;
    outline: none;
    background-color: #e4dada;
}

.formulario .btn_enviar {
    background-color: #0b3b65;
    display: block;
    border: none;
    color: #e2dddd;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
}



#servicios h2 {
    text-align: center;
    margin-bottom: 20px;
}

#servicios .contenedor {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#servicios .servicio1 {
    background-image: url(../img/sitio/piscina.jpg);
}

#servicios .servicio2 {
    background-image: url(../img/sitio/restaurante.jpg);
}

#servicios .servicio3 {
    background-image: url(../img/sitio/bar.jpg);
}

#servicios .servicio4 {
    background-image: url(../img/sitio/spa.jpg);
}

#servicios .servicio5 {
    background-image: url(../img/sitio/room_service.jpg);
}

/*configuracion del acordeon*/
#servicios .item {
    width: 25%;
    /*el contenedor item pasa de 25% ancho con hover a 90% de ancho*/
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 0 10px;
    transition: .7s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#servicios .item:hover {
    width: 90%;
}

#servicios .overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 80%, black);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#servicios .item .titulo {
    position: absolute;
    bottom: -10px;
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #e7e7dd;
    font-style: 20px;
    background-color: black;
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
}

#servicios .item:hover .titulo {
    bottom: -20px;
    opacity: 1;
}