@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*permite incluir el relleno y el borde en el ancho y alto total de un elemento*/
    font-family: Arial, Helvetica, sans-serif;

}

html {
    /* configuracion de desplazamiento con CSSOM */
    scroll-behavior: smooth;
    /* La scroll-behavior es la propiedad que especifica: si animar suavemente la posición de desplazamiento, en lugar de un salto directo, cuando el usuario hace clic en un enlace dentro de un cuadro desplazable.
    aprendiz puede consultar en https://www.w3schools.com/cssref/pr_scroll-behavior.php*/
}

body {
    display: flex;
    overflow: hidden;
}

.bloque {
    width: 100vw;
    padding-top: 50PX;
    flex-shrink: 0;
    height: 100vh;
}

/*---------------
MENU DE NAVEGACION
------------------
*/
header {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    text-align: center;
}

header nav a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

header span {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 2px solid #ecedf1;
    border-radius: 50%;
    padding: 3px;
}

header a:hover {
    color: #39A900;
}

.selected {
    color: #39A900;
    transition: color 0.3s;
}

.icono_sistema img {
    width: 40px;
    height: 40px;
    align-items: center;
}

/*---------------
CONGIGURACION PAGINA INICIO
------------------
*/

#intro {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/sistema/Hotel_Perseo/imgs/index_hotel/salto_teque2.jpg);
}

#intro .contenedor h2 {
    font-size: 4rem;
    text-align: center;
    color: #e7e7dd;
    text-shadow: 3px 3px 10px #494646;
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
}



@keyframes aparecer {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

/*---------------
CONGIGURACION FORMULARIO
------------------
*/

/*este configuracion exclusiva para el formulario de la pagina de inicio*/
#intro .formulario {
    background-color: white;
    width: 30%;
    height: 285px;
    padding-left: 40px;
    padding-right: 40px;
    color: #211f1f;
    margin-left: 900px;
    margin-bottom: 80px;
    border-radius: 15px;

}

/*este configuracion es para los elementos del formulario que usamos en las paginas del sitio*/
.formulario h3 {
    color: #2d2567;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.formulario .info {
    margin-bottom: 20px;
}

.info label {
    display: block;
    color: #2d2567;
    font-weight: bold;
    margin-top: 10px;
}

.info input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4343;
    padding: 5px;
    outline: none;
    background-color: white;
    margin-top: 10px;
}

.info select {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4343;
    padding: 5px;
    outline: none;
    background-color: white;
    margin-top: 10px;
}


.formulario .btn_enviar {
    background-color: #0b3b65;
    display: block;
    border: none;
    color: #e2dddd;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 80px;
    border-radius: 12px;
}

/* Division de Servicios */
#servicios {
    background-size: cover;
    background-image: url(/sistema/Hotel_Perseo/imgs/index_hotel/boquemonte.jpg);

}

#servicios h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#servicios .contenedor {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#servicios .servicio1 {
    background-image: url(../imgs/index_hotel/servivio1.jpg);
}

#servicios .servicio2 {
    background-image: url(../imgs/index_hotel/servivio2.jpg);
}

#servicios .servicio3 {
    background-image: url(../imgs/index_hotel/servivio3.jpg);
}

#servicios .servicio4 {
    background-image: url(../imgs/index_hotel/servivio4.jpg);
}

#servicios .servicio5 {
    background-image: url(../imgs/index_hotel/servivio5.jpg);
}

/*configuracion del acordeon*/
#servicios .item {
    width: 25%;
    /*el contenedor item pasa de 25% ancho con hover a 90% de ancho*/
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 100px 10px;
    transition: .7s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#servicios .item:hover {
    width: 90%;
}

#servicios .overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 80%, black);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#servicios .item .titulo {
    position: absolute;
    bottom: -10px;
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #e7e7dd;
    font-style: 20px;
    background-color: black;
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
}

#servicios .item:hover .titulo {
    bottom: -20px;
    opacity: 1;
}



/*Division Reserva */


#reserva {
    background-size: cover;
    background-image: url(/sistema/Hotel_Perseo/imgs/index_hotel/boquemonteAtar.jpg);
}



#reserva .contenedor {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#reserva h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}


#reserva .clausula {
    background-image: url(../imgs/index_hotel/clausula.jpg);
}

#reserva .condiciones {
    background-image: url(../imgs/index_hotel/metodo.jpg);
}

#reserva .reserva {
    background-image: url(../imgs/index_hotel/reserva.jpg);
}



/*configuracion del acordeon*/
#reserva .item {
    width: 25%;
    /*el contenedor item pasa de 25% ancho con hover a 90% de ancho*/
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 100px 10px;
    transition: .7s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#reserva .item:hover {
    width: 90%;
}

#reserva .overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 80%, black);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#reserva .item .titulo {
    position: absolute;
    bottom: -10px;
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #e7e7dd;
    font-style: 20px;
    background-color: black;
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
}

#reserva .item:hover .titulo {
    bottom: -20px;
    opacity: 1;
}




/* Division Contactanos */

#contactanos {
    background-color: white;
}

#contactanos .formulario {
    background-color: white;
    width: 30%;
    padding: 20px;
    color: #211f1f;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #39A900;

}

#contactanos .formulario .info {
    margin-bottom: 20px;

}

/* Campos del registro */
#contactanos .info input[type="text"],
#contactanos .info input[type="email"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #39A900;
    ;
    padding: 5px;
    outline: none;
    background-color: white;
    border-color: #39A900 solid 2px;
}

#contactanos .info textarea {
    width: 100%;
    height: 100px;
    /* Ajusta la altura según sea necesario */
    border: none;
    border-bottom: 1px solid #39A900;
    ;
    padding: 5px;
    outline: none;
    background-color: white;

}

#contactanos .info label {
    display: block;
    color: #2d2567;
    font-weight: bold;
    font-size: 17px;
}

#contactanos .formulario .btn_enviar {
    background-color: #39A900;

    display: block;
    border: none;
    color: #000000;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
}


/* Estilos para la sección de datos */
#contactanos .datos {
    display: flex;
    width: 100%;
    padding: 20px;
    color: #000000;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Centra el contenido horizontalmente */
    margin-top: 20px;

}


#contactanos .datos .item {
    width: 25%;


}

#contactanos .datos .item .icono {
    color: rgb(42, 120, 223);
    font-size: 25px;
    font-weight: bold;

}

#contactanos .datos .item .iconod {
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: bold;

}

#contactanos .datos .item .iconow {
    color: #39A900;
    font-size: 28px;
    font-weight: bold;

}

#contactanos .datos .item .datos_ h2,
h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;

}





/* Division  de registro */

#registro {
    background-color: white;
}

#registro .formulario {
    background-color: white;
    width: 30%;
    height: 720px;
    padding-left: 40px;
    padding-right: 40px;
    color: #211f1f;
    margin-left: 700px;
    margin-bottom: 70px;
    border-radius: 15px;
    border: 2px solid #39A900;

}


#registro .formulario h3 {
    color: #2d2567;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

#registro .formulario .info {
    width: 50%;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 40px;

}

#registro .formulario .info2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: 130px;
}

/* Campos del registro */
#registro .info input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #39A900;
    padding: 5px;
    outline: none;
    background-color: white;
}

#registro .info label {
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
}



#registro .form-check input[type="checkbox"] {
    width: auto;
    /* Ancho automático */
    border: none;
    outline: none;
    background-color: #e4dada;
    margin-right: 10px;
}


#registro .formulario .btn_enviar {
    background-color: #39A900;
    ;
    display: block;
    border: none;
    color: #000000;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* Centra el texto dentro del botón */
    width: 40%;
    /* Establece el ancho del botón al 50% */
    margin: auto;
    margin-top: 20px;
    /* Centra el botón horizontalmente en el formulario */
    border-radius: 12px;
}


@media (max-width: 876px) {
    .header {
        position: static;
        /* Cambiar la posición a estática para que ocupen todo el ancho */
        transform: none;
        /* Reiniciar la transformación */
        left: 0;
        /* Alinear al borde izquierdo */
        width: 100%;
        /* Hacer que ocupen todo el ancho */
    }
}